# **Import Library**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# **Preprocessing**

**Dataset Source**: https://archive.ics.uci.edu/dataset/2/adult

**Data Loading**

In [2]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.12/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.8.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)

In [3]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets
#melakukan pengabungan variabel target dan fitur
df = pd.concat([X, y], axis=1)
#menampilkan 5 baris pertama menggunakan fungsi df.head
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
df.describe(include='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,48842.000000,47879,4.884200e+04,48842,48842.000000,48842,47876,48842,48842,48842,48842.000000,48842.000000,48842.000000,48568,48842
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,4
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,33906,NaN,15784,NaN,22379,6172,19716,41762,32650,NaN,NaN,NaN,43832,24720
mean,38.643585,NaN,1.896641e+05,NaN,10.078089,NaN,NaN,NaN,NaN,NaN,1079.067626,87.502314,40.422382,NaN,NaN
std,13.710510,NaN,1.056040e+05,NaN,2.570973,NaN,NaN,NaN,NaN,NaN,7452.019058,403.004552,12.391444,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.175505e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.781445e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.376420e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [6]:
#mengecek jumlah missing value
df.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [7]:
# Imputasi: mean untuk numerik, modus (most frequent) untuk kategorikal
print("Rows before imputation:", df.shape[0])
print("Missing per column (before):")
print(df.isnull().sum()[df.isnull().sum() > 0])

# mean untuk kolom numerik
num_cols = df.select_dtypes(include=[np.number]).columns
if len(num_cols):
    df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

# modus untuk kolom kategorikal
cat_cols = df.select_dtypes(exclude=[np.number]).columns
for col in cat_cols:
    if df[col].isnull().any():
        mode = df[col].mode(dropna=True)
        if not mode.empty:
            df[col].fillna(mode.iloc[0], inplace=True)

print("Missing per column (after):")
print(df.isnull().sum()[df.isnull().sum() > 0] if df.isnull().any().any() else "No missing values remaining.")

Rows before imputation: 48842
Missing per column (before):
workclass         963
occupation        966
native-country    274
dtype: int64
Missing per column (after):
No missing values remaining.

/tmp/ipython-input-2613087507.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode.iloc[0], inplace=True)

In [8]:
# pengecekan duplikasi data
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 29

In [9]:
# Menghapus duplikasi data
df.drop_duplicates(inplace=True)

# Menampilkan jumlah baris setelah menghapus duplikasi
print("Number of rows after removing duplicates:", df.shape[0])

Number of rows after removing duplicates: 48813

In [11]:
from sklearn.preprocessing import LabelEncoder

# Pilih kolom kategorikal
categorical_cols = df.select_dtypes(include=['object']).columns

# Terapkan Label Encoding
for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

print("DataFrame after Label Encoding:")
df.head()

DataFrame after Label Encoding:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [17]:
df.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,48813.000000,48813.000000,4.881300e+04,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000,48813.000000
mean,38.647348,3.949214,1.896679e+05,10.288243,10.078688,2.618462,6.775797,1.443427,3.667998,0.668490,1079.708705,87.554299,40.425051,36.969865,0.812202
std,13.709005,1.357832,1.056062e+05,3.874402,2.570257,1.507746,4.151870,1.602395,0.846049,0.470761,7454.185982,403.118605,12.390954,7.268302,0.972871
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,4.000000,1.175550e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,39.000000,0.000000
50%,37.000000,4.000000,1.781400e+05,11.000000,10.000000,2.000000,7.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,39.000000,0.000000
75%,48.000000,4.000000,2.376200e+05,12.000000,12.000000,4.000000,10.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,39.000000,1.000000
max,90.000000,8.000000,1.490400e+06,15.000000,16.000000,6.000000,14.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,41.000000,3.000000

In [10]:
print("Unique values in the 'income' column before encoding:")
display(adult.data.targets['income'].unique())

Unique values in the 'income' column before encoding:

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

Disini variabel target(income) berisi  0 - 3 ('<=50K', '>50K', '<=50K.', '>50K.' )

In [12]:
from sklearn.model_selection import train_test_split

# Define features (X) and target (y)
X = df.drop('income', axis=1)
y = df['income']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (34169, 14)
Shape of X_test: (14644, 14)
Shape of y_train: (34169,)
Shape of y_test: (14644,)

In [13]:
print("Class distribution in the training set (y_train):")
display(y_train.value_counts())

Class distribution in the training set (y_train):

income
0    17303
1     8747
2     5451
3     2668
Name: count, dtype: int64

In [14]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to the training data
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

print("Shape of X_train after SMOTE:", X_train_resampled.shape)
print("Shape of y_train after SMOTE:", y_train_resampled.shape)
print("\nClass distribution in the training set after SMOTE:")
display(y_train_resampled.value_counts())

Shape of X_train after SMOTE: (69212, 14)
Shape of y_train after SMOTE: (69212,)

Class distribution in the training set after SMOTE:

income
0    17303
2    17303
3    17303
1    17303
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler

# Apply StandardScaler to the training data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_resampled)

print("Shape of scaled training data:", X_train_scaled.shape)
print("\nFirst 5 rows of scaled training data:")
display(X_train_scaled[:5])

Shape of scaled training data: (69212, 14)

First 5 rows of scaled training data:

array([[ 2.36543561,  0.10100954, -0.62177078, -1.89389701, -3.10651061,
        -0.27824876,  0.05562554, -0.73163988,  0.41669856,  0.72319938,
        -0.19220588,  4.75493661, -0.16715887,  0.28827147],
       [ 0.13453517, -2.38632636, -1.49632443, -0.38217625,  1.09783697,
        -0.27824876,  0.86285679, -0.73163988,  0.41669856,  0.72319938,
        -0.19220588, -0.25310875, -0.16715887,  0.28827147],
       [ 0.21716111, -1.5572144 , -1.46376631,  0.5248562 ,  1.51827172,
        -0.27824876,  0.86285679, -0.73163988,  0.41669856,  0.72319938,
        -0.19220588, -0.25310875, -0.16715887,  0.28827147],
       [ 1.29129836, -1.5572144 , -0.8124889 ,  0.22251205, -0.58390207,
        -0.27824876,  1.93916512, -0.73163988,  0.41669856,  0.72319938,
        -0.19220588, -0.25310875, -0.16715887,  0.28827147],
       [-0.03071672,  0.10100954,  0.00563577,  0.22251205, -0.58390207,
        -0.27824876, -1.02068279, -0.73163988,  0.41669856,  0.72319938,
        -0.19220588, -0.25310875,  1.60677203,  0.28827147]])

Saya hanya menerapkan metode tersebut pada data train, karena menurut saya SMOTE atau teknik pembuatan data sintetis hanya boleh dilakukan di tahap training agar tidak terjadi data leakage. Hal yang sama berlaku untuk StandardScaler, di mana proses scaling juga hanya boleh dilakukan di data latih. Alasannya sederhana: tidak boleh ada kebocoran data (no data leakage), sehingga model tidak memiliki akses ke informasi dari data validasi atau test set selama pelatihan. Selain itu, pendekatan ini juga lebih merepresentasikan kondisi nyata, di mana model nantinya akan menghadapi data baru yang belum pernah dilihat sebelumnya.